/* Resets and body styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

/* Style for the 'Apply Filters' button */
button {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  /* Larger font size for readability */
  /* Add top margin */
}

button:hover {
  background-color: #003d82;
}
